{% extends "layout.html" %}
{% block content %}
<h2>Libros Archivados</h2>
<table class="table table-striped" id="archivedBooksTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Materia</th>
            <th>Código</th>
            <th>Fecha Ingreso</th>
            <th>Cantidad</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
            <td>{{ book[4] }}</td>
            <td>{{ book[5] }}</td>
            <td>{{ book[6] }}</td>
            <td>{{ book[8] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}